Node-RED Flow/UI_Node-RED_Flow_Updated.json
[{"id":"67b70230.48fa6c","type":"tab","label":"UI_User_Input","disabled":false,"info":"<html>\n<style>\n    body{\n        background-image:url(\"https://cdn.britannica.com/75/114975-050-E61977EE/Wind-turbines-Tehachapi-Calif.jpg\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>"},{"id":"adb95456.970bb8","type":"tab","label":"UI_Cloud_Input","disabled":false,"info":""},{"id":"e017ee6d.f0446","type":"tab","label":"Prediction Cloud","disabled":false,"info":""},{"id":"c92a279b.5bb368","type":"tab","label":"API","disabled":false,"info":""},{"id":"aea71465.ff2d58","type":"tab","label":"Table","disabled":false,"info":""},{"id":"52c2bcea.0a9414","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0dd924","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0dd924","edited":true},"page-titlebar-backgroundColor":{"value":"#0dd924","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#3ff353","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0dd924","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c48e83e9.9be3f","type":"ui_group","z":"","name":"Status","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f6d16679.915ca8","type":"ui_group","z":"","name":"Time / Date","tab":"13b1e90b.c88e97","order":2,"disp":true,"width":6,"collapse":false},{"id":"ebd1ca29.930528","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"iekt4p.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5199a69.114df58","type":"ui_group","z":"","name":"Prarameter","tab":"476ba178.20f2c","order":2,"disp":true,"width":12,"collapse":false},{"id":"32c5b007.56bcf","type":"ui_group","z":"","name":"Input","tab":"13b1e90b.c88e97","order":1,"disp":true,"width":9,"collapse":false},{"id":"c862b226.3f667","type":"ui_group","z":"","name":"Parameter","tab":"371a313a.714a6e","order":2,"disp":true,"width":9,"collapse":false},{"id":"ef45188e.e10998","type":"ui_group","z":"","name":"Prediction","tab":"983d6a44.c2a2e8","order":1,"disp":true,"width":25,"collapse":false},{"id":"638831c7.a2b42","type":"ui_group","z":"","name":"Prediction Form","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a5ff8e16.6b218","type":"ui_group","z":"","name":"Energy Input","tab":"476ba178.20f2c","order":1,"disp":true,"width":14,"collapse":false},{"id":"13b1e90b.c88e97","type":"ui_tab","z":"","name":"User Input","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e5a0ba83.a65cc8","type":"ui_group","z":"","name":"Prediction Form","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"839ab706.992448","type":"ui_group","z":"","name":"Energy Output","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"33d9a891.e91c08","type":"ui_group","z":"","name":"Energy Output","tab":"13b1e90b.c88e97","order":3,"disp":true,"width":12,"collapse":false},{"id":"7b9dba39.4240e4","type":"ui_group","z":"","name":"Prediction Form","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a5b41c5e.f2f2a","type":"ui_group","z":"","name":"Energy Output","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"c19b6278.33465","type":"cos-config","z":0,"apiKeyId":"jh5Jw8GkcBv85XjW063W7Q9itOBYPmfenhM5bDz4u5c7","location":"ap-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.ap-geo.objectstorage.softlayer.net","serviceInstanceId":"https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints","hmac":false,"accesskeyid":"","accesskey":"","name":"prediction"},{"id":"22f165f8.0c022a","type":"cos-config","z":0,"apiKeyId":"jh5Jw8GkcBv85XjW063W7Q9itOBYPmfenhM5bDz4u5c7","location":"ap-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.ap-geo.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/5e7c88de3bb9498ba003e31b3b4331f0:62d16fde-9ee6-4a49-b809-102844695402::","hmac":false,"accesskeyid":"","accesskey":"","name":"Prediction"},{"id":"3ee8336.cf389cc","type":"cos-config","z":0,"apiKeyId":"","location":"","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"","serviceInstanceId":"","hmac":false,"accesskeyid":"","accesskey":"","name":""},{"id":"9b492c67.b1bae","type":"cos-config","z":0,"apiKeyId":"F8XAVTunqdSGAQbuC5X_F4Yd_VcxLrZ3bwLQ2baOQlsk","location":"us-south","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.us-south.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/5e7c88de3bb9498ba003e31b3b4331f0:62d16fde-9ee6-4a49-b809-102844695402::","hmac":false,"accesskeyid":"","accesskey":"","name":"prediction"},{"id":"461e56e7.7e6a48","type":"cos-config","z":"","apiKeyId":"F8XAVTunqdSGAQbuC5X_F4Yd_VcxLrZ3bwLQ2baOQlsk","location":"us-south","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.us-south.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/5e7c88de3bb9498ba003e31b3b4331f0:62d16fde-9ee6-4a49-b809-102844695402::","hmac":false,"accesskeyid":"","accesskey":"","name":"prediction"},{"id":"476ba178.20f2c","type":"ui_tab","z":"","name":"Cloud Input","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"983d6a44.c2a2e8","type":"ui_tab","z":"","name":"Prediction Cloud","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"551b238.af064dc","type":"ui_group","z":"","name":"Import Current Data","tab":"371a313a.714a6e","order":1,"disp":true,"width":"8","collapse":false},{"id":"58eadebe.05875","type":"ui_group","z":"","name":"Other","tab":"b8e94480.3433a8","order":1,"disp":false,"width":"6","collapse":false},{"id":"3568dcd2.71d444","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"8df57494.63e3d8","type":"ui_group","z":"","name":"Prediction Form","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"825bdd81.9a16d","type":"ui_group","z":"","name":"Energy Output","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"bcc46787.f09e08","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":1,"width":4,"height":1},{"id":"195133bc.def10c","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":3,"width":9,"height":1},{"id":"fbba0cbc.625a8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":5,"width":4,"height":1},{"id":"278a378b.9b6948","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":7,"width":1,"height":1},{"id":"18d1a98a.ab27a6","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":9,"width":1,"height":1},{"id":"d956dbcc.415de8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":10,"width":1,"height":1},{"id":"40cc0303.55575c","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":11,"width":1,"height":1},{"id":"35c49b59.8659f4","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":12,"width":1,"height":1},{"id":"b4a51b83.a6cd88","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":13,"width":1,"height":1},{"id":"d20e04a7.0d7bb8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":14,"width":1,"height":1},{"id":"44f50045.7763","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":15,"width":25,"height":1},{"id":"fa88a4d8.ed4df8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":16,"width":2,"height":1},{"id":"16654f51.1b0441","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":18,"width":4,"height":1},{"id":"5919d56c.8f774c","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":19,"width":2,"height":1},{"id":"86245f93.2b9fa","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":20,"width":4,"height":1},{"id":"9d715ae.cc0aba8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":21,"width":2,"height":1},{"id":"d0c64cbe.99bca","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":22,"width":4,"height":1},{"id":"ef7c266c.eaab58","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":23,"width":2,"height":1},{"id":"15626e56.9ad452","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":24,"width":4,"height":1},{"id":"b2c6fc91.fecc4","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":25,"width":2,"height":1},{"id":"c87902df.f30ec","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":26,"width":4,"height":1},{"id":"9bff61c2.e5466","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":27,"width":2,"height":1},{"id":"addd79fd.088888","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":28,"width":4,"height":1},{"id":"51673ccf.391854","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":29,"width":2,"height":1},{"id":"85ad0ef2.a8be","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":30,"width":4,"height":1},{"id":"3a3aadde.a7b092","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":31,"width":2,"height":1},{"id":"56d7d3d3.29869c","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":32,"width":4,"height":1},{"id":"a76d7397.590a8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":33,"width":2,"height":1},{"id":"d7134e4d.7c1aa","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":34,"width":4,"height":1},{"id":"edc7b53b.859a18","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":35,"width":2,"height":1},{"id":"9565ff5f.ccccf","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":36,"width":4,"height":1},{"id":"42da2475.adca9c","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":37,"width":25,"height":1},{"id":"f3628649.c70ac8","type":"ui_spacer","name":"spacer","group":"ef45188e.e10998","order":38,"width":25,"height":1},{"id":"b8e94480.3433a8","type":"ui_tab","z":"","name":"Other","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c3e4c172.7f4f3","type":"openwhisk-service","z":"","name":"","api":"https://openwhisk.ng.bluemix.net/api/v1"},{"id":"c52e2bdc.1eb808","type":"ui_spacer","name":"spacer","group":"f6d16679.915ca8","order":7,"width":2,"height":1},{"id":"8fda86e0.899ad8","type":"ui_spacer","name":"spacer","group":"f6d16679.915ca8","order":8,"width":2,"height":1},{"id":"89080988.6ffbb8","type":"ui_spacer","name":"spacer","group":"f6d16679.915ca8","order":9,"width":2,"height":1},{"id":"bc2dbd76.4234f","type":"ui_spacer","name":"spacer","group":"33d9a891.e91c08","order":6,"width":1,"height":1},{"id":"60a77aab.a50244","type":"ui_spacer","name":"spacer","group":"33d9a891.e91c08","order":7,"width":1,"height":1},{"id":"19c1438b.7e12cc","type":"ui_spacer","name":"spacer","group":"33d9a891.e91c08","order":8,"width":4,"height":1},{"id":"98eb2ddc.daa06","type":"ui_spacer","name":"spacer","group":"a5ff8e16.6b218","order":2,"width":2,"height":1},{"id":"123063cf.723ebc","type":"ui_spacer","name":"spacer","group":"a5ff8e16.6b218","order":5,"width":2,"height":1},{"id":"371a313a.714a6e","type":"ui_tab","z":"","name":"API","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"901d9a54.88e988","type":"ui_group","z":"","name":"Predict","tab":"371a313a.714a6e","order":3,"disp":true,"width":9,"collapse":false},{"id":"558a98cb.01fe88","type":"ui_spacer","name":"spacer","group":"551b238.af064dc","order":1,"width":8,"height":1},{"id":"5efe71a.4b1fc9","type":"ui_spacer","name":"spacer","group":"551b238.af064dc","order":3,"width":8,"height":1},{"id":"6c3cd079.46d26","type":"ui_spacer","name":"spacer","group":"551b238.af064dc","order":5,"width":8,"height":1},{"id":"391a456.03bbdba","type":"http request","z":"67b70230.48fa6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/add6b7cd-7881-485c-b8bf-2a625e8a2335/deployments/2590f8a2-9dfa-405c-b16d-d1a1c7a5f133/online","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":180,"wires":[["5dff3359.c1b91c","5e5d1ecc.a54ae","41b684fb.38cfcc"]]},{"id":"82dd925e.41dae","type":"function","z":"67b70230.48fa6c","name":"Input","func":"var t1 = global.get(\"t1\")\nvar t2 = global.get(\"t2\")\nvar t3 = global.get(\"t3\")\nvar t4 = global.get(\"t4\")\nvar t5 = global.get(\"t5\")\nvar v6 = global.get(\"v6\")\nvar v7 = global.get(\"v7\")\nvar v8 = global.get(\"v8\")\nvar v9 = global.get(\"v9\")\nvar v10 = global.get(\"v10\")\nvar v11 = global.get(\"v11\")\nvar v12 = global.get(\"v12\")\nvar v13 = global.get(\"v13\")\nvar v14 = global.get(\"v14\")\n\nvar token=msg.payload.access_token\nvar instance_id = \"add6b7cd-7881-485c-b8bf-2a625e8a2335\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Minute', 'Hour', 'Day', 'Month', 'Year', 'Wind Speed (m/s)' ,'Theoretical_Power_Curve (KWh)', 'Wind Direction', 'maxtempC', 'windGustKmph', 'DewPointC', 'windChillC', 'humidity', 'pressure'],\"values\": [[t1, t2, t3, t4, t5, v6, v7, v8, v9, v10, v11, v12, v13, v14]]}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["391a456.03bbdba","f1147a21.079d98"]]},{"id":"529f0a5b.626d94","type":"function","z":"67b70230.48fa6c","name":"Processing","func":"var apikey = \"7LEMCvlPbsVzI3EquQd_g80TpGfHL7s6WVBvvfTeByzq\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":800,"wires":[["2f5f797a.4bd206","9589124e.bf883"]]},{"id":"96ebd07d.0666d","type":"http request","z":"67b70230.48fa6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":180,"wires":[["82dd925e.41dae"]]},{"id":"5dff3359.c1b91c","type":"function","z":"67b70230.48fa6c","name":"Parsing value for chart","func":"msg.payload = Math.round(msg.payload.values[0][0])\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":300,"wires":[["c722bfe8.29906","ae326a.a5c05d98","1f7180e8.79271f","f4c03b5b.918838"]]},{"id":"c722bfe8.29906","type":"ui_gauge","z":"67b70230.48fa6c","name":"Live","group":"f6d16679.915ca8","order":6,"width":"6","height":3,"gtype":"gage","title":"Power","label":"KW","format":"{{value}}","min":"0","max":"1300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":360,"wires":[]},{"id":"ae326a.a5c05d98","type":"ui_text","z":"67b70230.48fa6c","group":"33d9a891.e91c08","order":1,"width":0,"height":0,"name":"","label":"Power Generate","format":"{{msg.payload}} KW","layout":"col-center","x":1020,"y":320,"wires":[]},{"id":"fde3a3ca.60bcb","type":"function","z":"adb95456.970bb8","name":"Processing","func":"var apikey = \"7LEMCvlPbsVzI3EquQd_g80TpGfHL7s6WVBvvfTeByzq\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":260,"wires":[["6653333f.7dbc1c"]]},{"id":"6653333f.7dbc1c","type":"http request","z":"adb95456.970bb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":260,"wires":[["5aafe182.e3c98"]]},{"id":"5aafe182.e3c98","type":"function","z":"adb95456.970bb8","name":"Input","func":"var a1 = global.get(\"a1\")\nvar a2 = global.get(\"a2\")\nvar a3 = global.get(\"a3\")\nvar a4 = global.get(\"a4\")\nvar a5 = global.get(\"a5\")\nvar a6 = global.get(\"a6\")\nvar a7 = global.get(\"a7\")\nvar a8 = global.get(\"a8\")\nvar a9 = global.get(\"a9\")\nvar a10 = global.get(\"a10\")\nvar a11 = global.get(\"a11\")\nvar a12 = global.get(\"a12\")\nvar a13 = global.get(\"a13\")\nvar a14 = global.get(\"a14\")\n\nvar token=msg.payload.access_token\nvar instance_id = \"add6b7cd-7881-485c-b8bf-2a625e8a2335\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Minute', 'Hour', 'Day', 'Month', 'Year', 'Wind Speed (m/s)' ,'Theoretical_Power_Curve (KWh)', 'Wind Direction', 'maxtempC', 'windGustKmph', 'DewPointC', 'windChillC', 'humidity', 'pressure'],\"values\": [[a1, a2, a3, a4, a5, a6, a7, a8, a9, a10, a11, a12, a13, a14]]}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["6ddfd1f.2b7bd3","40fc3ef8.c0e81","26bad1e1.44affe","5ccac635.6bec68","9d865e40.3ea66"]]},{"id":"40fc3ef8.c0e81","type":"http request","z":"adb95456.970bb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/add6b7cd-7881-485c-b8bf-2a625e8a2335/deployments/2590f8a2-9dfa-405c-b16d-d1a1c7a5f133/online","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":260,"wires":[["23619c9e.67f134","1652bc4f.c58624"]]},{"id":"b84df7d8.450998","type":"ui_chart","z":"adb95456.970bb8","name":"LV Activation Power","group":"a5ff8e16.6b218","order":7,"width":0,"height":0,"label":"Power Generate in KW","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1300","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1330,"y":200,"wires":[[]]},{"id":"b020d3f0.1f876","type":"ui_text","z":"adb95456.970bb8","group":"a5ff8e16.6b218","order":6,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"col-center","x":1290,"y":140,"wires":[]},{"id":"2f5f797a.4bd206","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":720,"wires":[]},{"id":"f1147a21.079d98","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":100,"wires":[]},{"id":"adcb936e.da458","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":720,"wires":[]},{"id":"c77e1362.39086","type":"function","z":"67b70230.48fa6c","name":"Pre-processing","func":"global.set(\"t5\",msg.payload.t5)\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":800,"wires":[["adcb936e.da458","529f0a5b.626d94"]]},{"id":"e9eae5ce.450c38","type":"ui_form","z":"67b70230.48fa6c","name":"","label":"Enter othere Parameter","group":"32c5b007.56bcf","order":1,"width":0,"height":0,"options":[{"label":"Wind Speed (m/s)","value":"v6","type":"number","required":true,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"v7","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"v8","type":"number","required":true,"rows":null},{"label":"maxtempC","value":"v9","type":"number","required":true,"rows":null},{"label":"windGustKmph","value":"v10","type":"number","required":true,"rows":null},{"label":"DewPointC","value":"v11","type":"number","required":true,"rows":null},{"label":"windChillC","value":"v12","type":"number","required":true,"rows":null},{"label":"humidity","value":"v13","type":"number","required":true,"rows":null},{"label":"pressure","value":"v14","type":"number","required":true,"rows":null}],"formValue":{"v6":"","v7":"","v8":"","v9":"","v10":"","v11":"","v12":"","v13":"","v14":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":800,"wires":[["9bf2d606.9b99e8"]]},{"id":"6ad60fec.19308","type":"ui_form","z":"67b70230.48fa6c","name":"","label":"Year","group":"f6d16679.915ca8","order":5,"width":6,"height":3,"options":[{"label":"Year","value":"t5","type":"number","required":true,"rows":null}],"formValue":{"t5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":550,"y":800,"wires":[["356894e2.7d25dc"]]},{"id":"9bf2d606.9b99e8","type":"function","z":"67b70230.48fa6c","name":"Pre-processing","func":"global.set(\"v6\",msg.payload.v6)\nglobal.set(\"v7\",msg.payload.v7)\nglobal.set(\"v8\",msg.payload.v8)\nglobal.set(\"v9\",msg.payload.v9)\nglobal.set(\"v10\",msg.payload.v10)\nglobal.set(\"v11\",msg.payload.v11)\nglobal.set(\"v12\",msg.payload.v12)\nglobal.set(\"v13\",msg.payload.v13)\nglobal.set(\"v14\",msg.payload.v14)\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["f1771b50.a6f488","6ad60fec.19308","a7b69c84.51263","2df7bfb2.bc05a","b7f83b37.6285c8"]]},{"id":"f1771b50.a6f488","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":880,"wires":[]},{"id":"e6c570f7.17673","type":"debug","z":"adb95456.970bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":900,"wires":[]},{"id":"f33cbf6f.22463","type":"debug","z":"adb95456.970bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":900,"wires":[]},{"id":"9f21ad14.05e29","type":"function","z":"adb95456.970bb8","name":"Buffer","func":"var b = Buffer.from(msg.payload);\nvar s = b.toString();\nvar out = s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":820,"wires":[["f33cbf6f.22463","b9ce1ac7.ec1838"]]},{"id":"b9ce1ac7.ec1838","type":"csv","z":"adb95456.970bb8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"x":870,"y":820,"wires":[["278e6adb.95a0d6"]]},{"id":"18d09c08.2f7604","type":"inject","z":"adb95456.970bb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["6670b5ae.3217ec","8eec39e3.e5dd98"]]},{"id":"6ddfd1f.2b7bd3","type":"debug","z":"adb95456.970bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":160,"wires":[]},{"id":"1652bc4f.c58624","type":"function","z":"adb95456.970bb8","name":"Parsing value for chart","func":"msg.payload = msg.payload.values[0][0]-15.42159652709961\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":260,"wires":[["b020d3f0.1f876","b84df7d8.450998","8d8a658f.dabbc8","818801bc.2a208","52732eb5.fd6a6"]]},{"id":"1f08408d.9e6b2f","type":"ui_template","z":"67b70230.48fa6c","group":"32c5b007.56bcf","name":"Background","order":2,"width":0,"height":0,"format":"<html>\n<style>\n    body{\n        background-image:url(\"https://github.com/SmartPracticeschool/SBSPS-Challenge-3160-Predicting-the-energy-output-of-wind-turbine-based-on-weather-condition/blob/master/Images/backgroud.jpg?raw=true\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":70,"y":40,"wires":[[]]},{"id":"3dac4bb4.358ee4","type":"ui_template","z":"adb95456.970bb8","group":"a5ff8e16.6b218","name":"Background","order":10,"width":0,"height":0,"format":"<html>\n<style>\n    body{\n        background-image:url(\"https://github.com/SmartPracticeschool/SBSPS-Challenge-3160-Predicting-the-energy-output-of-wind-turbine-based-on-weather-condition/blob/master/Images/backgroud.jpg?raw=true\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":70,"y":20,"wires":[[]]},{"id":"41b684fb.38cfcc","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":100,"wires":[]},{"id":"dfc7a20b.b7606","type":"inject","z":"67b70230.48fa6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":880,"wires":[["9bf2d606.9b99e8"]]},{"id":"1a2c997f.1cfde7","type":"ui_audio","z":"67b70230.48fa6c","name":"","group":"33d9a891.e91c08","voice":"en-US","always":"","x":1000,"y":180,"wires":[]},{"id":"5e5d1ecc.a54ae","type":"function","z":"67b70230.48fa6c","name":"Audio","func":"msg.payload = \"Energy Output : \"+Math.round(msg.payload.values[0][0])\n \nreturn msg;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["1a2c997f.1cfde7"]]},{"id":"6670b5ae.3217ec","type":"cos-get","z":"adb95456.970bb8","name":"","bucket":"prediction","objectname":"prediction.csv","mode":"1","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"461e56e7.7e6a48","x":450,"y":820,"wires":[["e6c570f7.17673","9f21ad14.05e29"]]},{"id":"9589124e.bf883","type":"link out","z":"67b70230.48fa6c","name":"","links":["f0d0225c.735f9"],"x":1255,"y":800,"wires":[]},{"id":"f0d0225c.735f9","type":"link in","z":"67b70230.48fa6c","name":"","links":["9589124e.bf883"],"x":35,"y":180,"wires":[["96ebd07d.0666d"]]},{"id":"7fdf91fe.96581","type":"ui_chart","z":"adb95456.970bb8","name":"","group":"5199a69.114df58","order":2,"width":0,"height":0,"label":"Temperature in C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"4","ymax":"14","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":360,"wires":[[]]},{"id":"55e449e7.83ad38","type":"ui_text","z":"adb95456.970bb8","group":"5199a69.114df58","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} C","layout":"col-center","x":990,"y":320,"wires":[]},{"id":"9ab1a2ec.969c","type":"ui_text","z":"adb95456.970bb8","group":"5199a69.114df58","order":3,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} in m/s","layout":"col-center","x":990,"y":580,"wires":[]},{"id":"82048fc5.464a2","type":"ui_chart","z":"adb95456.970bb8","name":"","group":"5199a69.114df58","order":4,"width":0,"height":0,"label":"Wind Speed in m/s","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0.31","ymax":"21","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":620,"wires":[[]]},{"id":"26bad1e1.44affe","type":"function","z":"adb95456.970bb8","name":"temp","func":"temp = msg.payload.values[0][8];\nmsg.payload = temp;\nreturn msg","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["55e449e7.83ad38","7fdf91fe.96581"]]},{"id":"5ccac635.6bec68","type":"function","z":"adb95456.970bb8","name":"WinDir","func":"wd = msg.payload.values[0][7]\nmsg.payload = wd;\nreturn msg","outputs":1,"noerr":0,"x":830,"y":460,"wires":[["1bf4b9f5.921e36"]]},{"id":"9d865e40.3ea66","type":"function","z":"adb95456.970bb8","name":"WinSp","func":"ws = msg.payload.values[0][5]\nmsg.payload = ws;\nreturn msg","outputs":1,"noerr":0,"x":830,"y":540,"wires":[["82048fc5.464a2","9ab1a2ec.969c"]]},{"id":"533cdad4.dbe384","type":"ui_numeric","z":"67b70230.48fa6c","name":"","label":"Day","tooltip":"","group":"f6d16679.915ca8","order":3,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"31","step":1,"x":550,"y":680,"wires":[["1603a5c6.95f73a"]]},{"id":"157a41ee.b61a3e","type":"ui_numeric","z":"67b70230.48fa6c","name":"","label":"Month","tooltip":"","group":"f6d16679.915ca8","order":4,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"12","step":1,"x":550,"y":740,"wires":[["2756e1d4.7bdf7e"]]},{"id":"356894e2.7d25dc","type":"function","z":"67b70230.48fa6c","name":"Year","func":"global.set(\"t5\",msg.payload.t5)\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["c77e1362.39086"]]},{"id":"1603a5c6.95f73a","type":"function","z":"67b70230.48fa6c","name":"Day","func":"global.set(\"t3\",msg.payload)\n","outputs":1,"noerr":0,"x":690,"y":680,"wires":[[]]},{"id":"2756e1d4.7bdf7e","type":"function","z":"67b70230.48fa6c","name":"Month","func":"global.set(\"t4\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[[]]},{"id":"8d8a658f.dabbc8","type":"ui_gauge","z":"adb95456.970bb8","name":"","group":"a5ff8e16.6b218","order":8,"width":"7","height":4,"gtype":"gage","title":"Power","label":"KWh","format":"{{value}}","min":"200","max":"1300","colors":["#00b500","#d5d539","#ca3838"],"seg1":"","seg2":"","x":1290,"y":260,"wires":[]},{"id":"1bf4b9f5.921e36","type":"ui_gauge","z":"adb95456.970bb8","name":"","group":"a5ff8e16.6b218","order":9,"width":"7","height":4,"gtype":"compass","title":"Wind Direction","label":"Deg","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":420,"wires":[]},{"id":"b76802c6.2d982","type":"ui_chart","z":"e017ee6d.f0446","name":"","group":"ef45188e.e10998","order":6,"width":12,"height":7,"label":"Prediction by ML Model in KW","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"12","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":120,"wires":[[]]},{"id":"d1b29927.973378","type":"link in","z":"e017ee6d.f0446","name":"","links":["818801bc.2a208"],"x":295,"y":140,"wires":[["b76802c6.2d982","aa0e5215.ceb1d","35dff37c.1bc1bc"]]},{"id":"818801bc.2a208","type":"link out","z":"adb95456.970bb8","name":"Cloud_power","links":["d1b29927.973378"],"x":1155,"y":340,"wires":[]},{"id":"8b81b7d8.0b6f38","type":"debug","z":"e017ee6d.f0446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":620,"wires":[]},{"id":"e5d79dba.afffe","type":"function","z":"e017ee6d.f0446","name":"Buffer","func":"var b = Buffer.from(msg.payload);\nvar s = b.toString();\nvar out = s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["8b81b7d8.0b6f38","39fa22b0.1e857e"]]},{"id":"39fa22b0.1e857e","type":"csv","z":"e017ee6d.f0446","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"x":730,"y":520,"wires":[["7996aa87.804c04"]]},{"id":"a4224c9b.ea8f8","type":"inject","z":"e017ee6d.f0446","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["39255a14.f28486"]]},{"id":"39255a14.f28486","type":"cos-get","z":"e017ee6d.f0446","name":"","bucket":"prediction","objectname":"LV ActivePower.csv","mode":"1","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"461e56e7.7e6a48","x":310,"y":520,"wires":[["e5d79dba.afffe"]]},{"id":"5579f7f7.46c868","type":"function","z":"e017ee6d.f0446","name":"pre-process i/p","func":"var p = +(msg.payload[\"LV ActivePower\"])\nmsg.payload = p\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":520,"wires":[["29f1a68c.3088fa","faf7759.2fcc688","1015cf76.109691"]]},{"id":"29f1a68c.3088fa","type":"debug","z":"e017ee6d.f0446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":620,"wires":[]},{"id":"faf7759.2fcc688","type":"ui_chart","z":"e017ee6d.f0446","name":"","group":"ef45188e.e10998","order":8,"width":12,"height":7,"label":"Actual Prediction in KW","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"12","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":460,"wires":[[]]},{"id":"aa0e5215.ceb1d","type":"ui_text","z":"e017ee6d.f0446","group":"ef45188e.e10998","order":2,"width":4,"height":1,"name":"","label":"Power = ","format":"{{msg.payload}}kW","layout":"row-center","x":440,"y":80,"wires":[]},{"id":"1015cf76.109691","type":"ui_text","z":"e017ee6d.f0446","group":"ef45188e.e10998","order":4,"width":4,"height":1,"name":"","label":"Actual Power = ","format":"{{msg.payload}}kW","layout":"row-center","x":1400,"y":520,"wires":[]},{"id":"1609bbba.0fbda4","type":"ui_template","z":"e017ee6d.f0446","group":"ef45188e.e10998","name":"Background Image","order":39,"width":0,"height":0,"format":"<html>\n<style>\n    body{\n        background-image:url(\"https://cdn.britannica.com/75/114975-050-E61977EE/Wind-turbines-Tehachapi-Calif.jpg\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":20,"wires":[[]]},{"id":"157d578b.b7eff8","type":"link in","z":"e017ee6d.f0446","name":"Start_Actual_o/p","links":["8eec39e3.e5dd98"],"x":75,"y":520,"wires":[["39255a14.f28486"]]},{"id":"8eec39e3.e5dd98","type":"link out","z":"adb95456.970bb8","name":"Star_Cloud","links":["157d578b.b7eff8"],"x":275,"y":760,"wires":[]},{"id":"67c254e.76178ac","type":"ui_chart","z":"e017ee6d.f0446","name":"","group":"ef45188e.e10998","order":17,"width":19,"height":10,"label":"Last 72Hr Prediction","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1300","removeOlder":"72","removeOlderPoints":"24","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":220,"wires":[[]]},{"id":"695d6abb.2e8f54","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":560,"wires":[]},{"id":"3f82ae95.7104a2","type":"function","z":"67b70230.48fa6c","name":"Check Global variable","func":"var t3 = global.get(\"t3\")\nmsg.payload = t3\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":560,"wires":[["695d6abb.2e8f54"]]},{"id":"2ee9851c.0a01ca","type":"inject","z":"67b70230.48fa6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":560,"wires":[["3f82ae95.7104a2"]]},{"id":"120d8f98.44a43","type":"ui_gauge","z":"67b70230.48fa6c","name":"","group":"33d9a891.e91c08","order":3,"width":4,"height":3,"gtype":"compass","title":"Wind Direction","label":"Deg","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":560,"wires":[]},{"id":"a7b69c84.51263","type":"function","z":"67b70230.48fa6c","name":"windDir","func":"var v81 = global.get(\"v8\")\nmsg.payload = v81\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":560,"wires":[["120d8f98.44a43"]]},{"id":"2df7bfb2.bc05a","type":"function","z":"67b70230.48fa6c","name":"WindSpd","func":"var v61 = global.get(\"v6\")\nmsg.payload = v61\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":640,"wires":[["e6485030.429e3"]]},{"id":"e6485030.429e3","type":"ui_gauge","z":"67b70230.48fa6c","name":"","group":"33d9a891.e91c08","order":5,"width":"4","height":"3","gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":640,"wires":[]},{"id":"db59bee.34da24","type":"ui_gauge","z":"67b70230.48fa6c","name":"","group":"33d9a891.e91c08","order":4,"width":"4","height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":720,"wires":[]},{"id":"b7f83b37.6285c8","type":"function","z":"67b70230.48fa6c","name":"Temp","func":"var v91 = global.get(\"v9\")\nmsg.payload = v91\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":720,"wires":[["db59bee.34da24"]]},{"id":"40c4f6cb.864178","type":"function","z":"adb95456.970bb8","name":"Set Global","func":"var a1 = +(msg.payload.Minute)\nvar a2 = +(msg.payload.Hour)\nvar a3 = +(msg.payload.Day)\nvar a4 = +(msg.payload.Month)\nvar a5 = +(msg.payload.Year)\nvar a6 = +(msg.payload[\"Wind Speed (m/s)\"])\nvar a7 = +(msg.payload[\"Theoretical_Power_Curve (KWh)\"])\nvar a8 = +(msg.payload[\"Wind Direction\"])\nvar a9 = +(msg.payload.maxtempC)\nvar a10 = +(msg.payload.windGustKmph)\nvar a11 = +(msg.payload.DewPointC)\nvar a12 = +(msg.payload.windChillC)\nvar a13 = +(msg.payload.humidity)\nvar a14 = +(msg.payload.pressure)\n\nglobal.set(\"a1\",a1)\nglobal.set(\"a2\",a2)\nglobal.set(\"a3\",a3)\nglobal.set(\"a4\",a4)\nglobal.set(\"a5\",a5)\nglobal.set(\"a6\",a6)\nglobal.set(\"a7\",a7)\nglobal.set(\"a8\",a8)\nglobal.set(\"a9\",a9)\nglobal.set(\"a10\",a10)\nglobal.set(\"a11\",a11)\nglobal.set(\"a12\",a12)\nglobal.set(\"a13\",a13)\nglobal.set(\"a14\",a14)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":820,"wires":[["7e9fd8c6.d1e178"]]},{"id":"23619c9e.67f134","type":"debug","z":"adb95456.970bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":160,"wires":[]},{"id":"42773c0a.673b74","type":"inject","z":"aea71465.ff2d58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":240,"wires":[["ea44794c.d84e28"]]},{"id":"ea44794c.d84e28","type":"function","z":"aea71465.ff2d58","name":"","func":"msg.delay = 5000;\nvar m1 = {reset:true};\nreturn [[m1,msg]];","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["46edd7de.769f98","57898082.5f721"]]},{"id":"46edd7de.769f98","type":"delay","z":"aea71465.ff2d58","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["c997b8ca.b2e878"]]},{"id":"c997b8ca.b2e878","type":"debug","z":"aea71465.ff2d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]},{"id":"57898082.5f721","type":"debug","z":"aea71465.ff2d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":140,"wires":[]},{"id":"a8875a85.c391c8","type":"inject","z":"aea71465.ff2d58","name":"Inject Array","topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":400,"wires":[["c85317f0.c277a8"]]},{"id":"c85317f0.c277a8","type":"split","z":"aea71465.ff2d58","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":480,"y":400,"wires":[["c87efd51.8c81f"]]},{"id":"c87efd51.8c81f","type":"delay","z":"aea71465.ff2d58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":340,"wires":[["be20317c.5d97c"]]},{"id":"be20317c.5d97c","type":"debug","z":"aea71465.ff2d58","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":400,"wires":[]},{"id":"ff536745.693118","type":"ui_button","z":"adb95456.970bb8","d":true,"name":"","group":"a5ff8e16.6b218","order":4,"width":5,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":590,"y":640,"wires":[["46f6e8be.6a56e8"]]},{"id":"98f3a7dc.1ee918","type":"ui_button","z":"adb95456.970bb8","d":true,"name":"","group":"a5ff8e16.6b218","order":3,"width":5,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":130,"y":800,"wires":[["6670b5ae.3217ec"]]},{"id":"7996aa87.804c04","type":"delay","z":"e017ee6d.f0446","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":520,"wires":[["5579f7f7.46c868"]]},{"id":"52732eb5.fd6a6","type":"debug","z":"adb95456.970bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":160,"wires":[]},{"id":"46f6e8be.6a56e8","type":"switch","z":"adb95456.970bb8","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":700,"wires":[["fde3a3ca.60bcb"],["b24a2d04.dedd3"]]},{"id":"278e6adb.95a0d6","type":"delay","z":"adb95456.970bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":820,"wires":[["40c4f6cb.864178"]]},{"id":"7e9fd8c6.d1e178","type":"function","z":"adb95456.970bb8","name":"return 1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":700,"wires":[["46f6e8be.6a56e8"]]},{"id":"b24a2d04.dedd3","type":"ui_toast","z":"adb95456.970bb8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Flow is stop","name":"Message","x":1000,"y":700,"wires":[[]]},{"id":"dfe84e09.a47f9","type":"inject","z":"aea71465.ff2d58","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":620,"wires":[["cfc8c86e.ece618","7d449dd1.921b74"]]},{"id":"1d05b89a.d514d7","type":"inject","z":"aea71465.ff2d58","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":880,"wires":[["fd91745.e7dca88"]]},{"id":"b0a723c1.e70e1","type":"inject","z":"aea71465.ff2d58","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":920,"wires":[["da5230eb.78392"]]},{"id":"fd91745.e7dca88","type":"change","z":"aea71465.ff2d58","name":"","rules":[{"t":"set","p":"var1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":880,"wires":[["5fa407c2.5535e8"]]},{"id":"5fa407c2.5535e8","type":"change","z":"aea71465.ff2d58","name":"sum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('var1')+$flowContext('var2')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":900,"wires":[["f05f2540.53dca8"]]},{"id":"f05f2540.53dca8","type":"debug","z":"aea71465.ff2d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":970,"y":900,"wires":[]},{"id":"da5230eb.78392","type":"change","z":"aea71465.ff2d58","name":"","rules":[{"t":"set","p":"var2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":920,"wires":[["5fa407c2.5535e8"]]},{"id":"cfc8c86e.ece618","type":"join","z":"aea71465.ff2d58","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530,"y":620,"wires":[["dcf6ce86.5b5f8","a864b251.fcf8c"]]},{"id":"dcf6ce86.5b5f8","type":"function","z":"aea71465.ff2d58","name":"Average","func":"arr = msg.payload\n\nvar sum, avg = 0;\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nmsg.payload = avg\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":620,"wires":[["47b6818b.c54bb"]]},{"id":"47b6818b.c54bb","type":"debug","z":"aea71465.ff2d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":700,"wires":[]},{"id":"7d449dd1.921b74","type":"debug","z":"aea71465.ff2d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":700,"wires":[]},{"id":"a864b251.fcf8c","type":"debug","z":"aea71465.ff2d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":700,"wires":[]},{"id":"35dff37c.1bc1bc","type":"join","z":"e017ee6d.f0446","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"18","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":410,"y":220,"wires":[["9493205.57eb9e","1ebc7e45.368662"]]},{"id":"9493205.57eb9e","type":"function","z":"e017ee6d.f0446","name":"Average","func":"arr = msg.payload\n\nvar sum, avg = 0;\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nmsg.payload = avg\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["69e9c23.d11893c","67c254e.76178ac"]]},{"id":"1ebc7e45.368662","type":"debug","z":"e017ee6d.f0446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":300,"wires":[]},{"id":"69e9c23.d11893c","type":"debug","z":"e017ee6d.f0446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":300,"wires":[]},{"id":"d3a57f8f.ea134","type":"ui_numeric","z":"67b70230.48fa6c","name":"","label":"Minutes","tooltip":"","group":"f6d16679.915ca8","order":1,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"50","step":"10","x":540,"y":560,"wires":[["d834cbc5.9aa488"]]},{"id":"e928c59a.1dbb98","type":"ui_numeric","z":"67b70230.48fa6c","name":"","label":"Hour","tooltip":"","group":"f6d16679.915ca8","order":2,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":550,"y":620,"wires":[["5c71e8db.7f8a88"]]},{"id":"d834cbc5.9aa488","type":"function","z":"67b70230.48fa6c","name":"Minutes","func":"global.set(\"t1\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[[]]},{"id":"5c71e8db.7f8a88","type":"function","z":"67b70230.48fa6c","name":"Hour","func":"global.set(\"t2\",msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":620,"wires":[[]]},{"id":"1f7180e8.79271f","type":"debug","z":"67b70230.48fa6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":260,"wires":[]},{"id":"f4c03b5b.918838","type":"ui_chart","z":"67b70230.48fa6c","name":"","group":"33d9a891.e91c08","order":2,"width":0,"height":0,"label":"Power Generate in KW","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":400,"wires":[[]]},{"id":"4d165fb5.840d8","type":"http request","z":"c92a279b.5bb368","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://api.worldweatheronline.com/premium/v1/weather.ashx?key=45f11bd0701b49cabc350904200407&q=Yalova&format=json&extra=utcDateTime&date=today&fx=yes&cc=yes&mca=no&fx24=no&includelocation=no&show_comments=no","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":160,"wires":[["5c579861.e12e18","2162d5e4.1d674a"]]},{"id":"5c579861.e12e18","type":"debug","z":"c92a279b.5bb368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":220,"wires":[]},{"id":"2162d5e4.1d674a","type":"function","z":"c92a279b.5bb368","name":"Buffer","func":"var b = Buffer.from(msg.payload);\nvar s = b.toString();\nvar out = s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["fa02f14d.5ce1b"]]},{"id":"3cc33dac.b8ded2","type":"debug","z":"c92a279b.5bb368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"fa02f14d.5ce1b","type":"json","z":"c92a279b.5bb368","name":"","property":"payload","action":"","pretty":true,"x":630,"y":160,"wires":[["3cc33dac.b8ded2","d529ead8.2582b8","f2a81090.5cc9","1b1ec402.caf88c"]]},{"id":"1b1ec402.caf88c","type":"function","z":"c92a279b.5bb368","name":"processing other","func":"var cityname = msg.payload.data.request[0].query;\nvar time = msg.payload.data.current_condition[0].observation_time;\nmsg.payload = {\"fields\": ['CityName', 'Time'], \"Value\" : [cityname, time]}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":220,"wires":[["6bf877be.cdbb58","5cb87ef7.177a4"]]},{"id":"f2a81090.5cc9","type":"function","z":"c92a279b.5bb368","name":"Processing Parameter","func":"// current_condition\nvar b6  = +(msg.payload.data.current_condition[0].windspeedKmph)\nvar b8  = +(msg.payload.data.current_condition[0].winddirDegree)\nvar b9  = +(msg.payload.data.current_condition[0].temp_C)\nvar b10 = +(msg.payload.data.weather[0].hourly[0].WindGustKmph)\nvar b11 = +(msg.payload.data.weather[0].hourly[0].DewPointC)\nvar b12 = +(msg.payload.data.weather[0].hourly[0].WindChillC)\nvar b13 = +(msg.payload.data.current_condition[0].humidity)\nvar b14 = +(msg.payload.data.current_condition[0].pressure)\n\nglobal.set(\"b6\", b6)\nglobal.set(\"b8\", b8)\nglobal.set(\"b9\", b9)\nglobal.set(\"b10\", b10)\nglobal.set(\"b11\", b11)\nglobal.set(\"b12\", b12)\nglobal.set(\"b13\", b13)\nglobal.set(\"b14\", b14)\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["cbf4bb45.2e5228","1fb3b5b.0cc244a"]]},{"id":"d529ead8.2582b8","type":"function","z":"c92a279b.5bb368","name":"Check","func":"msg.payload = +(msg.payload.data.weather[0].hourly[0].WindGustKmph)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["a67c8c6e.f321b"]]},{"id":"a67c8c6e.f321b","type":"debug","z":"c92a279b.5bb368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":80,"wires":[]},{"id":"cbf4bb45.2e5228","type":"ui_toast","z":"c92a279b.5bb368","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Data is Imported Successfully","name":"msg","x":1070,"y":160,"wires":[]},{"id":"af67ea61.983388","type":"ui_form","z":"c92a279b.5bb368","name":"","label":"","group":"551b238.af064dc","order":2,"width":8,"height":2,"options":[{"label":"Enter the Theoretical_Power_Curve (KWh)","value":"b7","type":"number","required":true,"rows":null}],"formValue":{"b7":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":80,"wires":[["e36bec44.6e97e"]]},{"id":"e36bec44.6e97e","type":"function","z":"c92a279b.5bb368","name":"Theoretical_Power_Curve","func":"global.set(\"b7\",msg.payload.b7)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"cb39d813.129468","type":"debug","z":"c92a279b.5bb368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":720,"wires":[]},{"id":"9fe6dc3b.b905e","type":"function","z":"c92a279b.5bb368","name":"Processing","func":"var apikey = \"7LEMCvlPbsVzI3EquQd_g80TpGfHL7s6WVBvvfTeByzq\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":820,"wires":[["a2dc1641.45d708"]]},{"id":"a2dc1641.45d708","type":"http request","z":"c92a279b.5bb368","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":820,"wires":[["987ca6a.70b5758"]]},{"id":"987ca6a.70b5758","type":"function","z":"c92a279b.5bb368","name":"Input","func":"var b1 = global.get(\"b1\")\nvar b2 = global.get(\"b2\")\nvar b3 = global.get(\"b3\")\nvar b4 = global.get(\"b4\")\nvar b5 = global.get(\"b5\")\nvar b6 = global.get(\"b6\")\nvar b7 = global.get(\"b7\")\nvar b8 = global.get(\"b8\")\nvar b9 = global.get(\"b9\")\nvar b10 = global.get(\"b10\")\nvar b11 = global.get(\"b11\")\nvar b12 = global.get(\"b12\")\nvar b13 = global.get(\"b13\")\nvar b14 = global.get(\"b14\")\n\nvar token=msg.payload.access_token\nvar instance_id = \"add6b7cd-7881-485c-b8bf-2a625e8a2335\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['Minute', 'Hour', 'Day', 'Month', 'Year', 'Wind Speed (m/s)' ,'Theoretical_Power_Curve (KWh)', 'Wind Direction', 'maxtempC', 'windGustKmph', 'DewPointC', 'windChillC', 'humidity', 'pressure'],\"values\": [[b1, b2, b3, b4, b5, b6, b7, b8, b9, b10, b11, b12, b13, b14]]}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["92b51674.4a8ac8","3aa5a4e3.dff4bc"]]},{"id":"92b51674.4a8ac8","type":"http request","z":"c92a279b.5bb368","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/add6b7cd-7881-485c-b8bf-2a625e8a2335/deployments/2590f8a2-9dfa-405c-b16d-d1a1c7a5f133/online","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":820,"wires":[["d7c30779.f6c598","7563e92.0698918","360676c1.b2ff0a"]]},{"id":"7ddbd0aa.f54f1","type":"ui_button","z":"c92a279b.5bb368","name":"","group":"551b238.af064dc","order":4,"width":0,"height":0,"passthru":false,"label":"Get Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":160,"wires":[["4d165fb5.840d8"]]},{"id":"6bf877be.cdbb58","type":"ui_text","z":"c92a279b.5bb368","group":"551b238.af064dc","order":6,"width":0,"height":0,"name":"","label":"City Name","format":"{{payload.Value[0]}}","layout":"row-spread","x":1050,"y":220,"wires":[]},{"id":"5cb87ef7.177a4","type":"ui_text","z":"c92a279b.5bb368","group":"551b238.af064dc","order":8,"width":0,"height":0,"name":"","label":"Time","format":"{{payload.Value[1]}}","layout":"row-spread","x":1030,"y":260,"wires":[]},{"id":"577b3d49.a75944","type":"ui_button","z":"c92a279b.5bb368","name":"","group":"901d9a54.88e988","order":1,"width":0,"height":0,"passthru":false,"label":"Predict","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":820,"wires":[["9fe6dc3b.b905e"]]},{"id":"a89dce67.db38d","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":1,"width":0,"height":0,"name":"","label":"Wind Speed (m/s)","format":"{{payload.values[0][5]}}","layout":"row-spread","x":530,"y":360,"wires":[]},{"id":"676f923a.dc81ac","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":2,"width":0,"height":0,"name":"","label":"Theoretical_Power_Curve (KWh)","format":"{{payload.values[0][6]}}","layout":"row-spread","x":580,"y":400,"wires":[]},{"id":"1fb3b5b.0cc244a","type":"function","z":"c92a279b.5bb368","name":"Date/Time","func":"var myDate = new Date();\nvar b1 = myDate.getMinutes()\nvar b2 = myDate.getHours()\nvar b3 = myDate.getDate()\nvar b4 = myDate.getMonth()\nvar b5 = myDate.getFullYear()\n\nglobal.set(\"b1\",b1)\nglobal.set(\"b2\",b2)\nglobal.set(\"b3\",b3)\nglobal.set(\"b4\",b4)\nglobal.set(\"b5\",b5)\n\nmsg.payload = {\"fields\": ['Day', 'Month', 'Year'], \"Value\" : [b3, b4, b5]}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":300,"wires":[["180df3e5.b8e80c","683eb550.30df2c"]]},{"id":"180df3e5.b8e80c","type":"ui_text","z":"c92a279b.5bb368","group":"551b238.af064dc","order":7,"width":0,"height":0,"name":"","label":"Date","format":"{{payload.Value[0]}}/{{payload.Value[1]}}/{{payload.Value[2]}}","layout":"row-spread","x":290,"y":360,"wires":[]},{"id":"c5f072ad.72387","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":3,"width":0,"height":0,"name":"","label":"Wind direction in degrees","format":"{{payload.values[0][7]}}","layout":"row-spread","x":550,"y":440,"wires":[]},{"id":"627a817b.d4df1","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":4,"width":0,"height":0,"name":"","label":"Temperature in degrees Celsius","format":"{{payload.values[0][8]}}","layout":"row-spread","x":570,"y":480,"wires":[]},{"id":"2cd62caa.4e6bf4","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":5,"width":0,"height":0,"name":"","label":"windGustKmph","format":"{{payload.values[0][9]}}","layout":"row-spread","x":520,"y":520,"wires":[]},{"id":"5986424b.b9b20c","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":7,"width":0,"height":0,"name":"","label":"Wind chill temperature in degrees Celsius","format":"{{payload.values[0][11]}}","layout":"row-spread","x":600,"y":600,"wires":[]},{"id":"79ad1927.5e8ca8","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":8,"width":0,"height":0,"name":"","label":"Humidity","format":"{{payload.values[0][12]}}","layout":"row-spread","x":500,"y":640,"wires":[]},{"id":"1ce5ec58.c26a94","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":9,"width":0,"height":0,"name":"","label":"Pressure","format":"{{payload.values[0][13]}}","layout":"row-spread","x":500,"y":680,"wires":[]},{"id":"3aa5a4e3.dff4bc","type":"debug","z":"c92a279b.5bb368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":960,"wires":[]},{"id":"d7c30779.f6c598","type":"debug","z":"c92a279b.5bb368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":960,"wires":[]},{"id":"fc0d5446.f8ce38","type":"inject","z":"c92a279b.5bb368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["1fb3b5b.0cc244a"]]},{"id":"975a9da8.00afb","type":"ui_text","z":"c92a279b.5bb368","group":"901d9a54.88e988","order":2,"width":0,"height":0,"name":"","label":"Power in kWH","format":"{{msg.payload}}","layout":"col-center","x":620,"y":1040,"wires":[]},{"id":"ac7a5aa5.c93a78","type":"ui_text","z":"c92a279b.5bb368","group":"c862b226.3f667","order":6,"width":0,"height":0,"name":"","label":"Dew point temperature in degrees Celsius","format":"{{payload.values[0][10]}}","layout":"row-spread","x":600,"y":560,"wires":[]},{"id":"683eb550.30df2c","type":"function","z":"c92a279b.5bb368","name":"Input","func":"var b1 = global.get(\"b1\")\nvar b2 = global.get(\"b2\")\nvar b3 = global.get(\"b3\")\nvar b4 = global.get(\"b4\")\nvar b5 = global.get(\"b5\")\nvar b6 = global.get(\"b6\")\nvar b7 = global.get(\"b7\")\nvar b8 = global.get(\"b8\")\nvar b9 = global.get(\"b9\")\nvar b10 = global.get(\"b10\")\nvar b11 = global.get(\"b11\")\nvar b12 = global.get(\"b12\")\nvar b13 = global.get(\"b13\")\nvar b14 = global.get(\"b14\")\n\nmsg.payload={\"fields\": ['Minute', 'Hour', 'Day', 'Month', 'Year', 'Wind Speed (m/s)' ,'Theoretical_Power_Curve (KWh)', 'Wind Direction', 'maxtempC', 'windGustKmph', 'DewPointC', 'windChillC', 'humidity', 'pressure'],\"values\": [[b1, b2, b3, b4, b5, b6, b7, b8, b9, b10, b11, b12, b13, b14]]}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["a89dce67.db38d","676f923a.dc81ac","c5f072ad.72387","627a817b.d4df1","2cd62caa.4e6bf4","5986424b.b9b20c","79ad1927.5e8ca8","1ce5ec58.c26a94","cb39d813.129468","ac7a5aa5.c93a78"]]},{"id":"29b7e528.7cf98a","type":"ui_audio","z":"c92a279b.5bb368","name":"","group":"901d9a54.88e988","voice":"","always":"","x":500,"y":980,"wires":[]},{"id":"7563e92.0698918","type":"function","z":"c92a279b.5bb368","name":"Audio","func":"msg.payload = \"Energy Output : \"+Math.round(msg.payload.values[0][0])\n \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":980,"wires":[["29b7e528.7cf98a"]]},{"id":"360676c1.b2ff0a","type":"function","z":"c92a279b.5bb368","name":"Parsing value for chart","func":"msg.payload = Math.round(msg.payload.values[0][0])\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1040,"wires":[["975a9da8.00afb"]]},{"id":"77f647dd.78c928","type":"ui_template","z":"c92a279b.5bb368","group":"ef45188e.e10998","name":"Background Image","order":39,"width":0,"height":0,"format":"<html>\n<style>\n    body{\n        background-image:url(\"https://cdn.britannica.com/75/114975-050-E61977EE/Wind-turbines-Tehachapi-Calif.jpg\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":20,"wires":[[]]},{"id":"fdf30799.f04f68","type":"ui_chart","z":"adb95456.970bb8","name":"","group":"5199a69.114df58","order":4,"width":0,"height":0,"label":"Wind Direction","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":460,"wires":[[]]},{"id":"bd29612.828fda","type":"ui_text","z":"adb95456.970bb8","group":"5199a69.114df58","order":5,"width":0,"height":0,"name":"","label":"Wind Direction","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":500,"wires":[]}]